.error
  border-color: red

.App
 display: flex
 flex-wrap: wrap
 justify-content: center
.nav
  display: flex
  flex-direction: row
  width: 100%
  justify-content: center
  padding: 0
  li
    padding: 5px
    list-style: none

.loginForm
  width: 350px
  input:nth-of-type(1)
    margin-top: 55px
  input
    margin-top: 15px
.subBut
  margin-top: 15px
.mainPage
  padding-top: 100px
  display: flex
  flex-direction: column

.CreateNewArticle-Submit-Button
  width: 100%

.CreateNewArticle-addNewArticle-Button
  width: 100%
  margin-bottom: 10px
  margin-top: 10px

.logOut
  padding-top: 5px
  float: right

.Article-Body
 word-break: break-all
.MainPage-Next-Button
  margin-left: 5px
.MainPage-Prev-Button
  margin-right: 5px